<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.philstopford.variance</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015-2019</string>
	<key>CFBundleShortVersionString</key>
	<string>3.6</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIconFile</key>
	<string>mc_image.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleName</key>
	<string>Variance.Mac</string>
	<key>CFBundleExecutable</key>
	<string>Variance.Mac</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>MonoMinimumVersion</key>
	<string>5.10</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<string>False</string>
</dict>
</plist>
